@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.container{
    margin:auto;
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Bree Serif";
    border: 2px solid rgb(85, 83, 83);
    margin-top: 20%;
    border-radius: 16px;
}
.LightMode{
    background: white;
    color: black;
}
.DarkMode{
    background: black;
    color:white;
}
h1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
p{
    color: white;
    font-size: 35px;
}
button{
    margin-top: 20px;
    width: 100px;
    color: black;
    font-size: 15px;
    border-radius: 10px;
}