.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    margin-left: auto;
    background-image: linear-gradient(to bottom,#ff6e7f, #bfe9ff);
    border-radius: 16px;
    margin-top: 30vh;
}
h1{
    font-size: 35px;
    color: #0f172a;
    margin-bottom: 10px;
    text-align: center;
}
h2{
    font-size: 25px;
    color: #1e293b;
    margin-bottom: 10px;
    text-align: center;
}
p{
    margin-top: 10px;
    font-size: 15px;
    color: #334155;
    margin-bottom: 10px;
    text-align: center;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 0 solid white;
}